.silhouette-card {
    width: 43%;
    float: right;
    align-items: center;
    margin: 1%;
    
}

th,td {
    margin-right: 3%;
    text-align: center;
}

#silhouette-table {
    width: 100%;
    font-size: 1.2vw;
}

