<mat-card class="silhouette-card"> 
    <mat-card-content [ngSwitch]="isListDisplayed">
        <div id="silhouette" *ngSwitchCase="false" [ngSwitch]="patientId">
            <button _ngcontent-iki-c138="" (click)="toggleList()" mat-button="" color="primary" class="mat-focus-indicator mat-button mat-button-base mat-primary"><span class="mat-button-wrapper">Visa Historik</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button>
            <img id="body_silhouette" *ngSwitchCase="195001232296" src="../../../../../assets/Jan_Bodstrom_png.png" width=100% height=20%>
            <img id="body_silhouette" *ngSwitchCase="198605119885" src="../../../../../assets/Klara_Rosfors_png.png" width=100%>
            <img id="body_silhouette" *ngSwitchCase="194202269207" src="../../../../../assets/Anna_Skoog_png.png" width=100%>
        </div>
        <div id="silhouette-list" *ngSwitchCase="true">            
            <button _ngcontent-iki-c138="" (click)="toggleList()" mat-button="" color="primary" class="mat-focus-indicator mat-button mat-button-base mat-primary"><span class="mat-button-wrapper">Stäng</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button>
            <table id="silhouette-table">
                <tr>
                    <th>Tillsatt</th>
                    <th>Typ</th>
                    <th>Storlek</th>
                    <th>Lokalisering</th>
                    <th>Handling</th>
                    <th>Tid</th>
                </tr>
                <tr *ngFor="let data of entrancesAndExits">
                    <td>{{data.time}}</td>
                    <td>{{data.type}}</td>
                    <td>{{data.size}}</td>
                    <td>{{data.localization}}</td>
                    <td>{{data.action}}</td>
                    <td>{{data.actionTime}}</td>
                </tr>
            </table>
        </div>    
    </mat-card-content>
</mat-card>
