<mat-card class="silhouette-card">
    <mat-card-content>
        <div id="silhouette" [ngSwitch]="patientId">
            <img id="body_silhouette" *ngSwitchCase="195001232296" src="../../../../../assets/Jan_Bodstrom_png.png" width=100%>
            <img id="body_silhouette" *ngSwitchCase="198605119885" src="../../../../../assets/Klara_Rosfors_png.png" width=100%>
            <img id="body_silhouette" *ngSwitchCase="194202269207" src="../../../../../assets/Anna_Skoog_png.png" width=100%>
        
        </div>
    </mat-card-content>
</mat-card>
