<mat-card class="outer-wrapper">
    <mat-card-header>
        <mat-card-title>
            <h1>Patientens tidslinje</h1>
        </mat-card-title>
    </mat-card-header>

    
    <div class="timeline-wrapper">
    <mat-card-content>
        <div class="timeline-event" *ngFor="let event of events" (click)="displayEvent(event)">
            {{event.date | date:'yyyy/MM/dd HH:mm'}} 
            <mat-icon class="timeline-event-icon" aria-label="timeline event icon">{{event.icon}}</mat-icon>
        </div>
        <hr class="timeline-line">
    </mat-card-content>
    </div>

    <mat-card-subtitle>
        <div *ngIf="displayedEvent && displayedEvent.type=='caregiving'" class="timeline-event-info">
            <h2>Omhändertagande</h2>
            <p>{{displayedEvent.data}}</p>
        </div>
        <div *ngIf="displayedEvent && displayedEvent.type=='lab'"  class="timeline-event-info">
            <h2>Labbresultat</h2>
            <table>
                <tr>
                    <th style="text-align: left;">Namn</th>
                    <th>Värde</th>
                </tr>
                <tr *ngFor="let lab of displayedEvent.data">
                    <td>{{lab.marker}}</td>
                    <td>{{lab.value}}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="displayedEvent && displayedEvent.type=='drug'" class="timeline-event-info">
            <h2>Medicinering</h2>
            <p>Typ: {{displayedEvent.data.type}}</p>
            <p>Dos: {{displayedEvent.data.dose}}</p>
        </div>
    </mat-card-subtitle>

</mat-card>
