<mat-card class="outer-wrapper" id="outer-wrapper-id">
    <mat-card-header>
        <mat-card-title>
            <h1>Patientens tidslinje</h1>
        </mat-card-title>
    </mat-card-header>

    <span id="left-arrow-wrapper"><i class="event-arrow event-arrow-left"></i><p style="display: inline-block;">Det finns fler händelser <br>längre bak i tiden</p></span>
    <span id="right-arrow-wrapper" style="float: right;"><p style="display: inline-block; text-align: right;">Det finns fler händelser <br>längre fram i tiden</p><i class="event-arrow event-arrow-right"></i></span>
    <div class="timeline-wrapper" id="timeline-wrapper">
    <mat-card-content>
        <div [class.clicked]="clickedButton == i" class="timeline-event" *ngFor="let event of events let i=index" (click)="clickedButton = i; displayEvent(event)"> 
            <span class="event-time">{{event.date | date:'HH:mm'}}</span>
            <span class="event-date">{{event.date | date:'yyyy/MM/dd'}}</span>
            <fa-icon class="timeline-event-icon fa-2x" aria-label="timeline event icon" [icon]="event.icon"></fa-icon>
        </div>
        <hr class="timeline-line">
    </mat-card-content>
    </div>
    


    <mat-card-subtitle>
        <div *ngIf="displayedEvent && displayedEvent.type=='caregiving'" class="timeline-event-info">
            <mat-icon style="float: right;" (click)="closeDisplayedEvent()">close</mat-icon>
            <h2>Omhändertagande</h2>
            <p>{{displayedEvent.data}}</p>
        </div>
        <div *ngIf="displayedEvent && displayedEvent.type=='lab'"  class="timeline-event-info">
            <mat-icon style="float: right;" (click)="closeDisplayedEvent()">close</mat-icon>
            <h2>Labbresultat</h2>
            <table>
                <tr>
                    <th style="text-align: left;">Namn</th>
                    <th>Värde</th>
                </tr>
                <tr *ngFor="let lab of displayedEvent.data">
                    <td>{{lab.marker}}</td>
                    <td>{{lab.value}}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="displayedEvent && displayedEvent.type=='drug'" class="timeline-event-info">
            <mat-icon style="float: right;" (click)="closeDisplayedEvent()">close</mat-icon>
            <h2>Medicinering</h2>
            <p>Typ: {{displayedEvent.data.type}}</p>
            <p>Dos: {{displayedEvent.data.dose}}</p>
        </div>
    </mat-card-subtitle>

</mat-card>
