<mat-card class="lab-results"> 
    <mat-card-header>
        <mat-card-title>Laborationsresultat</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="noLabDisplayed">
        <mat-action-list>
            <mat-list-item *ngFor="let lab of labs">
                <fa-icon matListIcon [icon]='faClock'></fa-icon>
                <h3 matLine>{{ lab.date }} {{ lab.time }}</h3>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="row">
                        <div class="show-result" fxFlex="30" (click)="displayLab(lab)">Visa resultat</div>            
                    </div>
                </div>
            </mat-list-item>
          </mat-action-list>
    </mat-card-content>
    <mat-card-content *ngIf="!noLabDisplayed">
        <div class="go-back" (click)="closeDisplayedLab()">Tillbaka</div>
        <table>
            <tr>
                <th style="float: left;">Namn</th>
                <th class="values-column">Värde</th>
            </tr>
            <tr *ngFor="let test of displayedLab.tests">
                <td style="color: {{markerColour(test.marker,test.value)}};">{{test.marker}}</td>
                <td style="color: {{markerColour(test.marker,test.value)}};" class="values-column">{{test.value}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>