
.lab-overview{

    float: left;
   // margin: 4%;
   margin-right: 4%;
   margin-top: 4%;
   margin-bottom: 4%;
    width: 400px;
    height: 320px;
    text-size-adjust: 14px;
    background-color: white;
}

.header-lab{

background-color: rgb(240, 240, 240);
padding-left: 20px;

}
.showResult{

 color: rgb(38, 77, 204);

}

.list-row{
    padding: 10px;



}

.lab-info {
 float: right;
 background-color: white;


}
