.lab-results {
    margin-top: 1%;
    float: left;
    width: 45%;
}

.show-result {
    color: #004a82;
    font-weight: bold;
}

.go-back {
    color: #004a82;
    font-weight: bold;
    float: right;
    font-size: larger;
}

.values-column {
    text-align: right;
}