

#notes, #referrals {
    width: 100%;
    display:inline-block;
    text-align: justify;
}


#journal-widget {
    width: 98%;
    height : 20%;
    float:left;
    margin-top : 1%;
}

span {
    margin: auto;
}

.selected {
    color: #015fa7;
}