.vpbox {
  width: 45%;
  float: left;
  margin-top: 1%;
}

.param {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  width: 60px;
  text-align: center;
}

.mat-list-icon {
  border-radius: 0%!important;
}