<mat-card>
  <mat-card-header>
    <mat-card-title>Vitalparametrar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-action-list>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Parameter 1</h3>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="row">
            <div class="param" fxFlex="30">100</div>
          </div>
        </div>
      </mat-list-item>
    </mat-action-list>
  </mat-card-content>
</mat-card>
