.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  //Background color of header
  background: #004a82;
  //Text color of header
  color:#fff;

}

.dropdown{
  position:relative;

}

.dropdown-menu{
  position: fixed;
  right: 1rem;
  top: 4rem;
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0;
  z-index: 5;
}
.dropdown-button{
  display:grid;
}

#header-logo{
  background-color:transparent;
}

#logo{
  display: block;
  border-radius: 5%;
  width: 200px;
  height: 50px;
}

#profile-button{

background-color:transparent;
border: none;

}

#spacer {
  flex: 1 1 50%;
}

#message {
  position:fixed;
  top: 44px;
  z-index: 5;
  right: 10px;
  margin-top: 2%;
  max-width: 400px;
  margin-bottom: 8px;
  text-align: center;
}

.specificMessage {
  background-color: aliceblue;
  margin-bottom: 10px;
}

#unit-button {
  margin-left: 2%;
  background-color: #004a82;
}
