.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
#spacer {
  flex: 1 1 auto;
}

#message {
  position:fixed;
  top: 44px;
  z-index: 5;
  left: 80%;
  margin-top: 2%;
  max-width: 400px;
  margin-bottom: 8px;
}

.specificMessage {
  background-color: aliceblue;
  margin-bottom: 10px;
}
