<mat-card class="patient-header-card">
   <mat-card-content>

        <div class = patheader>
            <div class = "patientHeaderInformationBox">
                <strong>Namn</strong>
                <p class = "informationBoxValue" > {{name}}</p>
            </div>
            <div class = "patientHeaderInformationBox">
                <strong>Personnummer</strong>
                <p class = "informationBoxValue" >{{patientId}}</p> 
            </div>
    
            <div class = "patientHeaderInformationBox">
                <img class="symbol" *ngIf="contagious" src="../../../../../assets/uppmarksamhetssymbol_smittsam.png">
                <img class="symbol" *ngIf="!contagious" src="../../../../../assets/uppmarksamhetssymbol.png">
            </div>
    
            <div class = "patientHeaderInformationBox">
                <strong>Triage</strong>
                <p id = "triageColor" class = "informationBoxValue" style="background-color: blue;" >  </p>
            </div>
            <div class = "patientHeaderInformationBox">
                <strong>Besöksorsak</strong>
                <p class = "informationBoxValue" >{{visitingFor}}</p>
            </div>
            <div class = "patientHeaderInformationBox">
                <strong>Kön</strong>
                <p class = "informationBoxValue" > {{gender}}</p> 
            </div>   
            <div class = "patientHeaderInformationBox">
                <strong>Rum</strong>
                <p class = "informationBoxValue" > {{roomBed}}</p> 
            </div>  

            <div id = "rosButtonDiv" class="headerButton" >
                <button mat-raised-button color="primary" class = "buttonblue" id = "rosButton" (click)="openRoS(patientId)">RoS</button>
            </div> 

            <div id = "EKGButtonDiv" class="headerButton" >
                <button mat-raised-button color="primary" class = "buttonblue" id = "erg" (click)="openECGModal(patientId)">EKG</button>
            </div> 
        
        </div>


   </mat-card-content> 
  
</mat-card>

<div id="myModal" class="modal">

    <span (click)="closeECGModal()" class="close">&times;</span>
  
    <div id = "imagesModal">
        <img class="modal-content" src="/assets/ECG195001232296_1.png" onerror="hideImg()">
        <img class="modal-content" src="/assets/ECG195001232296_2.png" onerror="hideImg()">
        <img class="modal-content" src="/assets/ECG195001232296_3.png" onerror="hideImg()">
    </div>

    <div id="caption"></div>
  </div>