.patient-header-card{
    height: 5vw;
    position: sticky;
    top: 0;
}
.patientHeaderInformationBox {
    float: left;
    width: 20%;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5vw;
}
.informationBoxValue {
    margin-top: 10%;
    font-size: 2vw;
}

#triageColor {
    min-height: 3vw;
    max-width: 6vw;
    margin-left: 33%;
    margin-top: 5%;
}


.patheader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    //align-items: center;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid rgb(238, 238, 9);
    margin: auto;
    margin-top: 15px;
 
}
