<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- Note type Column -->
    <ng-container matColumnDef="note_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Anteckningstyp</th>
      <td mat-cell *matCellDef="let row">{{row.note_type}}</td>
    </ng-container>

    <!-- Noter Column -->
    <ng-container matColumnDef="noted_by">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Antecknad av</th>
      <td mat-cell *matCellDef="let row">{{row.noted_by}}</td>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Enhet</th>
      <td mat-cell *matCellDef="let row">{{row.unit}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
