<mat-card id="ordinering">
    <div>
        <h2 style="height: 10px;"> Medicinering</h2>
    </div>
    <div> 
        <h3 style="height: 10px;"> Kommande </h3>
        <div id="Kom-Med" style="width: 100%;">
            <!-- Insert medication here -->
            <mat-icon style="float: left; font-size: large;" aria-hidden="false" aria-label="Medicinering">healing</mat-icon>


            <span id="Medobj1" style="float: left; height: 10px;">Ringer-Acetat</span><span id="Medobj2">1000ml engångsdos</span>
            <div style="float: left; width: 100%;">
                <button style="height: 25px; float:left; text-align: center;" mat-button color="primary">Visa mer</button>
            </div>

        </div>
    </div>
    <!-- <div style="width: 100%; height: 50px;">
        <p>Patient ID: {{patientId}} works!</p>
    </div>
 -->
</mat-card>
